@import "src/shared.scss";

.art-aligner {
  @include flexitem;
  height: 90%;
}

@media (min-width: $desktop-min-width) {
  .spirograph_touch-device {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .spirograph_nontouch-device {
    display: none;
  }
}