// Media Query Definitions
$mobile-max-width: 769px;
$desktop-min-width: 770px;

// Colors
$bg-pink: rgb(255, 197, 207);
$bg-blue: rgb(182, 228, 255);
$blue-text: rgb(26, 132, 219);
$navbar-color: rgb(100, 55, 131);

@mixin dropshadow{box-shadow: 0px 8px 16px 0px rgba(48, 74, 99, 0.4)};
@mixin flexitem {
  display: flex;
  align-items: center;
  justify-content: center;
}